@import url(http://fonts.googleapis.com/css?family=Iceland);
body {
    margin: 0;
    padding-bottom: 80px;
    background-color: #ecf0f1;
}

.container textarea {
    border: none;
    width: 100%;
    height: 220px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 10px auto;
    resize: none;
    color: #265a88;
}

.container img {
    display: block;
    margin: auto;
    width: 35%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #265a88;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #265a88;
}

input[type=file] {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #265a88;
}

input[type=submit] {
    width: 100%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #265a88;
    color: white;
}

.header {
    font-family: "Iceland";
    text-align: center;
    font-size: 80px;
}

.footer span.right {
    color: white;
    float: right;
}

.footer span a {
    color: white;
}

.footer {
    list-style-type: none;
    overflow: hidden;
    background-color: #2980b9;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.footer a:hover {
    color: white;
    text-decoration: none;
}

.center {
    text-align: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2980b9;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.img a {
    cursor: crosshair;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 32.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}