/*!
 *  Joorx CMS Cascading Style Sheet V1.0
 *  You can join my project to contributor JoorxCMS
 */
html, body {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.color-green {
    background-color: #27ae60;
}

.center {
    text-align: center;
}

.image-count img {
    display: block;
    margin: auto;
    width: 30%;
}

.header {
    padding-top: 55px;
    padding-bottom: 5px;
    text-align: center;
}

.header-news {
    padding-top: 55px;
    padding-bottom: 6px;
    text-align: center;
}

.joorxcms-sidebar {
    padding-bottom: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2980b9;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer-scroll {
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  padding-right: 20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:link {
    color: white;
    text-decoration:none;
}

.footer a:visited {
    color: white;
    text-decoration:none;
}

.footer a:active {
    color: white;
    text-decoration:none;
}

.footer a:hover {
    color: white;
    text-decoration: none;
}

.navbar-default {
    background-color: #c0392b;
}

.right {
    float:right;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
    text-decoration:none;
}

a:active {
    color: black;
    text-decoration:none;
}

a:hover {
    color: black;
    text-decoration:none;
}

.bottomPadding {
    padding-top: 10px;
    padding-bottom: 80px;
}

.btn {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.btn-read-more {
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #662D91;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#662D91;
}

.btn-read-more:hover {
    color: #FFF;
    background: #662D91;
}

.post { border-bottom:1px solid #DDD }
.post-title {  color:#662D91; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}

@media only screen and (min-width:768px){
    .container{
        width:750px;
    }

    .header{
        font-size: 20px;
    }

    .header-news{
        font-size: 20px;
    }

}

@media only screen and (min-width:992px){
    .container{
        width:970px;
    }

    .header{
        font-size: 40px;
    }

    .header-news{
        font-size: 30px;
    }

}

@media only screen and (min-width:1200px){
    .container{
        width:1170px;
    }

    .header{
        font-size: 55px;
    }

    .header-news{
        font-size: 40px;
    }

}
