/*!
 *  Joorx CMS Cascading Style Sheet V1.5
 *  You can join my project to contributor JoorxCMS
 */
html, body {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.color-green {
    background-color: #27ae60;
}

.center {
    text-align: center;
}

.image-count img {
    display: block;
    margin: auto;
    width: 30%;
}

.image-center img {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}

.navbar.navbar-custom {
  background-color: #16a085;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

.navbar.navbar-custom .navbar-nav > li {
  /* Transition Hover */
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

.navbar.navbar-custom .navbar-nav > li :hover {
    background-color: #18967d;
}
/***Link Color***/

.navbar.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-decoration: none;
}
/***Link Color Hover Statr***/

.navbar.navbar-custom .navbar-nav > li > a:hover {
  color: #fff;
}
/***Link Background and Color Active State***/

.navbar.navbar-custom .navbar-nav > .active,
.navbar.navbar-custom .navbar-nav > .active > a,
.navbar.navbar-custom .navbar-nav > .active > a:hover,
.navbar.navbar-custom .navbar-nav > .active > a:focus {
  background-color: #18967d;
  color: #fff;
}
/***Navbar Brand Link Color***/

.navbar.navbar-custom .navbar-brand {
  color: #fff;
}
/***Navbar Brand Link Color Hover State***/

.navbar.navbar-custom .navbar-brand:hover {
  color: #2c3e50;
}
/***Dropdown Background Active State***/

.navbar.navbar-custom .nav li.dropdown.open > .dropdown-toggle,
.navbar.navbar-custom .nav li.dropdown.active > .dropdown-toggle,
.navbar.navbar-custom .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #18967d;
  color: #fff;
}
/***Dropdown-menu Background Color***/

.navbar.navbar-custom .dropdown-menu {
  background-color: #18967d;
  border: none;
}
/***Dropdown-menu Color***/

.navbar.navbar-custom .dropdown-menu > li > a {
  color: #fff;
}
/***Dropdown-menu Color Hover and Focus State***/

.navbar.navbar-custom .dropdown-menu > li > a:hover,
.navbar.navbar-custom .dropdown-menu > li > a:focus {
  color: #fff;
  background: #2c3e50;
}
/***Toggle Button***/

.navbar.navbar-custom .navbar-header .navbar-toggle {
  border-color: #fff;
  color: #fff;
}
/***Toggle Button Hover and Focus State***/

.navbar.navbar-custom .navbar-header .navbar-toggle:hover,
.navbar.navbar-custom .navbar-header .navbar-toggle:focus {
  border-color: #2c3e50;
  color: #fff;
}

.navbar.navbar-custom .navbar-header .navbar-toggle > span {
  background-color: #fff;
}

.navbar.navbar-custom .navbar-header .navbar-toggle > span :hover {
  background-color: #18967d;
}
/***Collapse Borders***/

.navbar.navbar-custom .navbar-collapse {
  border: none;
}

.header {
    padding-top: 55px;
    padding-bottom: 5px;
    text-align: center;
}

.header-news {
    padding-top: 55px;
    padding-bottom: 6px;
    text-align: center;
}

.joorxcms-sidebar {
    padding-bottom: 10px;
}

.category-item {
    background: #16a085;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: #fff;
}

.slide-sidebar {
    padding-top: 6px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-top: 16px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer-scroll {
  position: fixed;
  bottom: 18px;
  right: 6px;
  /* Set the fixed height of the footer here */
  width: 50px;
  height: 60px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.button-scroll {
  /* Transition Hover */
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  /* Button Scroll */
  background-color: #2c3e50;
  color: white;
  padding-right: 20px;
  padding-bottom: 22px;
  display: none;
}

.button-scroll:hover {
  background-color: #16a085;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:link {
    color: white;
    text-decoration:none;
}

.footer a:visited {
    color: white;
    text-decoration:none;
}

.footer a:active {
    color: white;
    text-decoration:none;
}

.footer a:hover {
    color: white;
    text-decoration: none;
}

.right {
    float:right;
}

.right-scroll {
    color: white;
    float:right;
}

.right-scroll:hover {
    color: white;
}

.anchor {
    color: #fff;
    text-decoration: none;
}

.anchor:link {
    color: #fff;
    text-decoration:none;
}

.anchor:visited {
    color: #fff;
    text-decoration:none;
}

.anchor:active {
    color: #fff;
    text-decoration:none;
}

.anchor:hover {
    color: #fff;
    text-decoration:none;
}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
    text-decoration:none;
}

a:active {
    color: black;
    text-decoration:none;
}

a:hover {
    color: black;
    text-decoration:none;
}

.bottomPadding {
    padding-top: 10px;
    padding-bottom: 80px;
}

.btn-custom {
  color: #ffffff;
  background-color: #16A085;
  border-color: #16A085;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #ffffff;
  background-color: #18967D;
  border-color: #16A085;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #16A085;
  border-color: #16A085;
}

.btn-custom .badge {
  color: #16A085;
  background-color: #ffffff;
}

.btn-read-more {
    padding: 5px;
    text-align: center;
    border-radius: 0px;
    display: inline-block;
    border: 2px solid #662D91;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:#662D91;
}

.btn-read-more:hover {
    color: #FFF;
    background: #662D91;
}

#disqus-comment-joorxcms {
    padding-top: 15px;
}

#disqus-comment-joorxcms > .header-comment {
    background-color: #16a085;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

#banner-footer-joorxcms {
    padding-top: 20px;
}

#sidebar-joorxcms {
    padding-top: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.post { border-bottom:1px solid #DDD }
.post-title {  color:#662D91; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}

@media (max-width: 767px) {
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a {
    color: #fff;
  }
  /***Dropdown-menu Color Hover and Focus State***/
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a:hover,
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a:focus {
    background-color: #16a085;
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width:320px) and (max-width:991px){
    #sidebar-joorxcms{
        display: none;
    }
}

@media only screen and (min-width:768px){
    .container{
        width:750px;
    }

    .header{
        font-size: 20px;
    }

    .header-news{
        font-size: 20px;
    }

}

@media only screen and (min-width:992px){
    .container{
        width:970px;
    }

    .header{
        font-size: 40px;
    }

    .header-news{
        font-size: 30px;
    }

}

@media only screen and (min-width:1200px){
    .container{
        width:1170px;
    }

    .header{
        font-size: 55px;
    }

    .header-news{
        font-size: 40px;
    }

}
